<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Reddit... Not!</title>
</head>
<body>
      <a href="/add">Click here to add a post</a><br />

List of posts
<br />

<div>

  <table>

      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>User</th>
        <th>Time</th>
        
	  </tr>
      <tr th:each="post : ${list}">
        <td th:text="${post.id}">ID</td>
		<td><a th:href="@{${post.link}}"><span th:text="${post.title}"></span></a></td>
        <td th:text="${post.user}">User</td>
        <td th:text="${post.time}">Time</td>
      </tr>
    
    </table>
<!-- 		<td th:text="<a href=@{//${post.link}}>${post.title}</a>">Title</td> -->
</div>
</body>
</html>